<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div>
    <label class="label-filter">Markaya Göre Filtrele</label>
  <select class="form-select" [(ngModel)]="brandIdFilter">
    <option selected>Tüm Markalar</option>
    <option *ngFor="let brand of brands" [value]="brand.brandId" [selected]="getSelectedBrand(brand.brandId)">
      {{ brand.brandName }}
    </option>
  </select>
</div>
<label class="label-filter">Renge Göre Filtrele</label>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <select class="form-select" [(ngModel)]="colorIdFilter">
          <option selected>Tüm Renkler</option>
          <option *ngFor="let color of colors" [value]="color.colorId" [selected]="getSelectedColor(color.colorId)">{{ color.colorName }}</option>
        </select>     
       </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">   
        <div class="btn-group">
          <button
            routerLink="/cars/brand/{{ brandIdFilter }}/color/{{ colorIdFilter }}"
            type="button"
            class="btn btn-warning" id="filtrele">
            Filtrele
          </button>
        </div>
       </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="btn-group">
          <button routerLink="/cars" type="button" class="btn btn-danger" id="temizle">
            Temizle
          </button>
        </div>
       </li>
    </ul>
  </div>
</nav>